.container{
    display: grid;
    grid-template-columns: repeat(9, 10%);
    grid-template-rows: repeat(9,6em);
    text-align: center!important;
    box-sizing: border-box;
}

.number{
    border: 1px solid;
}

div.player1{
    content: url("../images/player1.jpeg");
    height: 100px;
    width: 30%;
    border: none;
    
}


