
.box {
	border: black 1px solid;
	border-radius:5px 5px 5px 5px;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	margin-top: 0;
	cursor: pointer;
	display: inline-block;
	float: left;
	display:grid
}

.row {
	display: block;
	float:left;
	width:100%;
}

img{
	width: 60px;
	height: 60px;
}
img .weapon1{
	width: 60px;
	height: 60px;
}
img .weapon2{
	width: 60px;
	height: 60px;
}
img .weapon3{
	width: 60px;
	height: 60px;
}
img .weapon4{
	width: 60px;
	height: 60px;
}
img .player1{
	width: 60px;
	height: 60px;
}
img .player2{
	width: 60px;
	height: 60px;
}
#wrapper{
	margin: 20px auto;
	width: 50%;
}
.barrier {
	background-image: url('../images/brick.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
}
