
#wrapper{
	/* margin: 0 auto; */
	width: 100%;
	/* border: 5px solid red; */
	display: flex;
	justify-content: center;
	/* padding: 50px; */
	margin: 0 auto;
}
.redMan, .blackMan{
	height: 570px;
	width: 50%;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
}
.redMan img, .blackMan img{
	height: 250px!important;
	width: 100%!important;
	/* display: block; */
}

.box {
	border: black 1px solid;
	border-radius:8px 8px 8px 8px;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content:center;

	flex-wrap: wrap;
	/* flex-direction: row; */
	/* justify-content:space-evenly; */
	margin-top: 0;
	cursor: pointer;
	/* flex-wrap: wrap; */
	/* float: left; */
	/* clear: left; */
	/* margin-right: 40px; */
	/* display:inlineblock; */
	/* margin-left:200px; */
	/* margin-bottom: 0; */
}

.weapon-wrap{
	display: flex;
	justify-content:center;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 15px;
	padding: 50px;
	width: 40%;
	margin-bottom: 20px;
}
.weapons{
	display: flex;
	justify-content: space-around;
	/* padding: 50px; */
	/* height: 80px; */

}
.weaponize{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
.row {
	display: flex;
	width:100%;
	margin-left: 30px;
	margin-right: 30px;

}

img{
	width: 80px;
	height: 80px;
	/* background-size: cover; */
}

.barrier {
	background-image: url('../images/brick.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	/* width: 80px;
	height: 80px; */
}
.valid{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: grey;
}